{% extends "base.html" %}
{% block title %}
Home
{% endblock %}

{% block content %}

<div class="card shadow-sm">
    <ul class="list-group mb-3">
        {% for note in user.notes %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {{ note.data }}
                <button type="button" class="close" onClick="deleteNote('{{ note.id }}')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </li>
        {% else %}
            <li class="list-group-item">No notes yet.</li>
        {% endfor %}
    </ul>
    <div align="center" class="card-header bg-primary text-white">
        Notes
    </div>
    <div class="card-body">
        <form method="POST">
            <div class="form-group">
                <textarea name="note" id="note" class="form-control" rows="5" placeholder="Enter your note here..."></textarea>
            </div>
            <div class="text-center mt-3">
                <button type="submit" class="btn btn-success">Add Note</button>
            </div>
        </form>
    </div>
</div>
    
    
{% endblock %}